ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.gallery {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 24px;
  row-gap: 20px;
  padding: 24px 156px;
  width: 1440px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery-image {
  display: flex;
  width: 360px;
  height: 200px;
}

.login-form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 256px;
  background: #fff;
}

.form-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-input {
  width: 360px;
  height: 40px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 8px;
}

.form-input:hover {
  border-color: 1px solid #000;
}

.form-textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 80px;
  resize: none;
  padding-top: 8px;
  padding-left: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 16px;
}

.form-textarea:hover {
  border-color: 1px solid #000;
}

.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 8px;
  padding: 8px 16px;
  margin-top: 8px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  background-color: #6c8cff;
}